/*
============================================
; Title:  8.4 styles.css
; Author: Georgia Welch Cronin
; Date:   12 december 2020
; Description: Styling for 8.4
;===========================================
*/



#emps {
    text-align: left;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight:  300, 400, 500;
}



  /* The styling for the title */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight:  300, 400, 500;
    padding-top: 20px;
}

table {
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
  }
  
  th {
    background-color: rgb(135, 206, 188);
    color: white;
  }
  
  tr:nth-child(even) {
    background-color:  rgb(206, 236, 229);
  }
  
#emps tbody tr:hover {
    cursor: pointer;
    background-color: #ffff99;
    }